version: '3.3'
services:
  traefik:
    image: traefik:v2.9
    container_name: traefik
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  mysqldb:
    image: mysql:5.7
    restart: unless-stopped
    container_name: carlease-mysqldb
    env_file: ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - "3306:3306"
    volumes:
      - db:/var/lib/mysql

  carlease-customer-service:
    build:
      context: ./customer-service
    depends_on:
        - mysqldb
    restart: always
    container_name: carlease-customer-service
    ports:
      - "8081:8080"
    environment:
      SPRING_APPLICATION_JSON: '{
            "spring.datasource.url"  : "jdbc:mysql://mysqldb:3306/$MYSQLDB_DATABASE?useSSL=false",
            "spring.datasource.username" : "$MYSQLDB_USER",
            "spring.datasource.password" : "$MYSQLDB_ROOT_PASSWORD",
            "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL5InnoDBDialect",
            "spring.jpa.hibernate.ddl-auto" : "update",
            "server.servlet.context-path": "/customer",
            "springdoc.api-docs.enabled" : true 
          }'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.carlease-customer-service.rule=Host(`localhost`) && PathPrefix(`/customer`)"
      - "traefik.http.services.carlease-customer-service.loadbalancer.server.port=8080"
      - "traefik.http.routers.carlease-customer-service.entrypoints=web"

  carlease-car-service:
    build:
      context: ./car-service/car-service-server
    depends_on:
      - mysqldb
    restart: always
    container_name: carlease-car-service
    ports:
      - "8082:8080"
    environment:
      SPRING_APPLICATION_JSON: '{
              "spring.datasource.url"  : "jdbc:mysql://mysqldb:3306/$MYSQLDB_DATABASE?useSSL=false",
              "spring.datasource.username" : "$MYSQLDB_USER",
              "spring.datasource.password" : "$MYSQLDB_ROOT_PASSWORD",
              "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL5InnoDBDialect",
              "spring.jpa.hibernate.ddl-auto" : "update",
              "server.servlet.context-path": "/car",
              "springdoc.api-docs.enabled" : true,
              "spring.jpa.show-sql": true
            }'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.carlease-car-service.rule=Host(`localhost`) && PathPrefix(`/car`)"
      - "traefik.http.services.carlease-car-service.loadbalancer.server.port=8080"
      - "traefik.http.routers.carlease-car-service.entrypoints=web"

  carlease-lease-service:
    build:
      context: ./lease-service
    restart: always
    container_name: carlease-lease-service
    ports:
      - "8083:8080"
    environment:
      SPRING_APPLICATION_JSON: '{
                "server.servlet.context-path": "/lease",
                "springdoc.api-docs.enabled" : true 
              }'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.carlease-lease-service.rule=Host(`localhost`) && PathPrefix(`/lease`)"
      - "traefik.http.services.carlease-lease-service.loadbalancer.server.port=8080"
      - "traefik.http.routers.carlease-lease-service.entrypoints=web"

volumes:
  db:
